@media screen and  (max-width: 1695px) {
    .header__container,.preview__container {
        padding-left: 15px;
    }

    .footer__container{
        padding: 0 15px;
    }

    .fire-ice{
        padding: 125px 15px 180px 15px;
    }

    .pros__line__block.first{
        flex-direction: column-reverse;
        top: 0;
        left: 15%;
    }

    .pros__line__block.second{
        flex-direction: column;
        bottom: -5%;
    }

    .pros__line__block.third{
        flex-direction: column-reverse;
        top: 0;
    }

    .pros__line__block.fourth{
        flex-direction: column;
        bottom: -6%;
    }

    .first .pros__line__text, .third .pros__line__text{
        margin-bottom: 15px;
    }

    .second .pros__line__text, .fourth .pros__line__text{
        margin-bottom: 0;
        margin-top: 10px;
    }

    .pros__line__description {
        margin-top: 5px;
        font-size: 12px;
    }

    .pros__line__title{
        font-size: 16px;
    }
}

@media screen and (max-width: 1249px) {
    .preview{
        padding-bottom: 100px;
    }

    .preview__roadmap img{
        display: none;
    }

    .preview__container{
        background-image: url("../images/preview_img.png");
        min-height: 620px;
        max-width: 1000px;
        position: relative;
    }

    .pros__line__block.second{
        bottom: -5%;
        left: 30%;
    }

    .pros__line__block.third{
        top: -5%;
        left: 49%;
    }

    .pros__line__block.fourth{
        bottom: -10%;
    }

    .gallery .swiper-slide {
        padding: 0 15px;
    }

    .places__info__title{
        font-size: 16px;
    }

    .places__info p{
        font-size: 14px;
    }

    .places__white-block{
        width: 218px;
        height: 211px;
    }

    .places__white-block img{
        width: 237px;
    }

    .places__map__img {
        max-width: 350px;
    }

    .tour-slide{
        gap: 30px;
    }

}